*~
.cvsignore
CVS/
Makefile
Makefile.in
STLdb4/.cvsignore
STLdb4/CVS/
STLdb4/Makefile
STLdb4/Makefile.in
aclocal.m4
apidocs/
autom4te-2.53.cache/
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
stldb4-*.bz2
stldb4.pc
stldb4.spec
testsuite/.cvsignore
testsuite/CVS/
testsuite/Makefile
testsuite/Makefile.am~
testsuite/Makefile.in
testsuite/config/.cvsignore
testsuite/config/CVS/
testsuite/config/Makefile.in
testsuite/sampledata/.cvsignore
testsuite/sampledata/CVS/
testsuite/sampledata/Makefile.am~
testsuite/sampledata/Makefile.in
testsuite/stldb4.test/.cvsignore
testsuite/stldb4.test/CVS/
testsuite/stldb4.test/Makefile.in
testsuite/ut_partial_lookup
testsuite/ut_partial_range_lookup

debian/README.Debian
debian/compat
debian/copyright
debian/cron.d.ex
debian/dirs
debian/docs
debian/emacsen-install.ex
debian/emacsen-remove.ex
debian/emacsen-startup.ex
debian/files
debian/init.d.ex
debian/manpage.1.ex
debian/manpage.sgml.ex
debian/manpage.xml.ex
debian/menu.ex
debian/postinst.ex
debian/postrm.ex
debian/preinst.ex
debian/prerm.ex
debian/shlibs.local.ex
debian/stldb4-default.ex
debian/stldb4-dev.debhelper.log
debian/stldb4-dev.dirs
debian/stldb4-dev.install
debian/stldb4-dev.substvars
debian/stldb4-dev/
debian/stldb4.doc-base.EX
debian/stldb41.debhelper.log
debian/stldb41.dirs
debian/stldb41.install
debian/stldb41.substvars
debian/stldb41/
debian/tmp/
debian/watch.ex
/compile
/runtest.sh
/stldb4.log
/stldb4.sum
/testsuite/ut_advancef
/testsuite/ut_find
/testsuite/ut_forwarditerate
/testsuite/ut_multidata
/testsuite/ut_overload
/testsuite/ut_readstream
/testsuite/ut_readwriteseek
/testsuite/ut_recno
/testsuite/ut_reverseiterate
/testsuite/ut_secondary
/testsuite/ut_secondary_manyruns
/testsuite/ut_secondary_recno
/testsuite/ut_setget
/testsuite/ut_trans
/testsuite/ut_trans_manydb
/testsuite/ut_writestream
*.lo
*.o
*.la
.deps
.libs
/config.h
/config.log
/config.status
db-4.6.21/build_unix/*
db-4.6.21/dist/*
/libtool
/stamp-h1
/stldb4-config

