Source: stldb4
Priority: extra
Maintainer: Ben Martin <monkeyiq@users.sf.net>
Build-Depends: debhelper (>= 4), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: stldb4-dev
Section: libdevel
Architecture: any
Depends: stldb41 (= ${Source-Version})
Description: C++ Wrapper for the sleepycat db4 library
 C++ Wrapper for the sleepycat db4 library

Package: stldb41
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ Wrapper for the sleepycat db4 library
 C++ Wrapper for the sleepycat db4 library
